<section  ng-controller="contactController" class="contactPage">
    <div class="description clearfix">
        <div class="textBox" >
            <h2 class="heading">联系方式</h2>
            <h2><strong>广东赛翼智能科技股份有限公司</strong></h2>
            <p>
                <span style="vertical-align: top">关注订阅号：</span><img src="src/imgs/Rcode.jpg" alt="" width="150px">
            </p>
            <p>
                <span style="vertical-align: top">关注服务号：</span><img src="src/imgs/Scode.jpg" alt="" width="150px">
            </p>
            <p>公司地址：广州市天河区棠福路3号顺盈商业大厦A座703</p>
            <p>公司官网：www.gdsayee.com </p>
            <p>产品官网：www.youlb.cn</p>
            <!--<p>邮编：510665</p>-->
            <p>电话：020-38059979</p>
            <p>传真：020-38550026</p>
            <p>邮箱：sayee88@163.com</p>
        </div>
        <div class="imgBox">
            <a href="http://j.map.baidu.com/_QfBF" target="_blank"><img src="src/imgs/addr.jpg" alt="地址"></a>
        </div>

    </div>

</section>

