<section ng-controller="HomeController" class="homePage">
    <div class="ks-slideCarousel clearfix" id="j-demo1">
        <div class="slide-main">
            <ul>
                <li class="active">
                    <a href="javascript:void 0;" title="云平台Cloud platform">
                        <img src="src/imgs/S1.png" alt="云平台Cloud platform"/>
                    </a>
                    <div class="imgText one">
                        <h2>云平台Cloud platform</h2>
                        <p>一如既往的安全 稳定 流畅</p>
                    </div>
                    <!--<p class="title"><a href="#">文本标题文本标题文本标题1</a></p>-->
                    <!--<p class="mask"></p>-->
                </li>
                <li class="slide2">
                    <a href="javascript:void 0;" title="物业宝APP">
                        <img src="src/imgs/S2.png" alt="物业宝APP"/>
                    </a>
                    <div class="imgText two">
                        <h2>物业宝APP</h2>
                        <p>创造更多可能</p>
                    </div>
                </li>
                <li>
                    <a href="javascript:void 0;" title="友邻邦APP">
                        <img src="src/imgs/S3.png" alt="友邻邦APP"/>
                    </a>
                    <div class="imgText three">
                        <h2>友邻邦APP</h2>
                        <p class="font">YOU LIN BANG</p>
                        <p class="font">安全  高效  简易</p>
                        <p>专注于解决智慧社区互联网门禁服务，让生活更简单</p>
                    </div>
                </li>
            </ul>
            <a class="prev" href="">prev</a>
            <a class="next" href="">next</a>
        </div>
        <div class="slide-nav">
            <ul>
                <li class="active"><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
    <div class="introduce">
        <div class="introducewrap">
            <h3><i></i><span>系统简介</span></h3>
            <p>赛翼互联网可视门禁对讲系统是基于移动互联网、物联网、云计算、大数据等技术进行设计的全新一代移动互联网可视门禁对讲系统。</p>
            <p>智慧社区云平台部署在云端，通过智能终端APP、PC、电话等终端，为用户提供社区可视对讲门禁、物业服务、信息发布、社区O2O等社区综合服务。形成“产品+平台+运营”的整体解决方案，是传统数字对讲系统结合移动互联网技术应用的一种创新。
            </p>
            <p>
                <br>
            </p>
            <img src="src/imgs/p101.png" width="100%">
        </div>
    </div>
    <!--<div class="f-media">-->
        <!--<ul>-->
            <!--<li class="ylb">-->
                <!--<img src="src/imgs/youlianbang.png" alt="">-->
            <!--</li>-->
            <!--<li class="video">-->
                <!--&lt;!&ndash;<video src="http://v.youku.com/v_show/id_XMTY5NjA3NTAzMg==.html" controls="controls" width="100%"></video>&ndash;&gt;-->
                <!--<embed src='http://player.youku.com/player.php/sid/XMTY5NjA3NTAzMg==/v.swf' allowFullScreen='true' quality='high' width='100%' height='auto' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>-->
            <!--</li>-->
            <!--<li class="wuye">-->
                <!--<img src="src/imgs/wuye.png" alt="">-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</section>

