<section  ng-controller="joinController" class="joinPage">
    <div class="description clearfix">
        <div class="box">
            <h2>web前端开发工程师</h2>
            <div style="font-size: 14px;">
                <p class="info">待遇面议&nbsp;&nbsp;&nbsp;广州&nbsp;&nbsp;&nbsp;经验1-3年&nbsp;&nbsp;&nbsp;大专及以上&nbsp;&nbsp;&nbsp;全职</p>
                <div class="">岗位描述：</div>
                <p> 1、理解需求，和产品经理讨论确定需求细节。</p>
                <p> 2、负责进行管理平台、手机端基础组件开发, 前端页面制作，以及前端与业务层的交互设计、开发；</p>
                <p> 3、优化及提高前端代码的质量，包括服务端和客户端的整体用户体验；</p>
                <p> 4、配合后台和手机端开发人员实现界面和功能。为产品后期运营提供升级、维护等技术支持。</p>
                <div class="">任职要求：</div>
                <p> 1、1年以上web前端移动开发经验； </p>
                <p> 2、精通HTML5+ CSS3特性，了解HTML5最新规范，能够熟练运用HTML5特性构建移动端的WebApp；</p>
                <p> 3、熟悉jquery-mobile ,PhoneGap,Sencha等HTML5移动开发框架；</p>
                <p> 4、熟悉Javascript/Json/XML等Web前端技术，熟练使用Javascript编写面向对象的应用程序，
                    对Javascript的各种特性以及浏览器（包括移动浏览器Webkit）兼容性有实战经验;
                </p>
                <p>5、具备团队合作精神，有较强的沟通及协调能力，对工作有激情并能够承担较大的工作压力。</p>
            </div>
        </div>
        <div class="box">
            <h2>Java开发工程师</h2>
            <div style="font-size: 14px;">
                <p class="info">待遇面议&nbsp;&nbsp;&nbsp;广州&nbsp;&nbsp;&nbsp;经验1-3年&nbsp;&nbsp;&nbsp;大专及以上&nbsp;&nbsp;&nbsp;全职</p>
                <div class="">岗位描述：</div>
                <p> 1、理解需求，和产品经理讨论确定需求细节；</p>
                <p> 2、参与功能需求说明书和系统概要设计工作；</p>
                <p> 3、根据开发规范与流程独立完成后端系统的设计、编码及文档整理；</p>
                <p> 4、为产品后期运营提供升级、维护等技术支持。</p>
                <div class="">任职要求：</div>
                <p> 1.Java基础扎实，1年及以上Java进行Web开发的经验； </p>
                <p>  2.熟悉Linux下的常用命令，熟练配置维护应用服务器；</p>
                <p> 3.熟悉IO、多线程、集合等基础框架，熟悉分布式、缓存、消息等机制；</p>
                <p> 4.熟悉Spring、Struts、iBatis等主流开源框架及原理；</p>
                <p> 5.熟悉数据库设计，并具有较好的SQL编写及优化能力；</p>
                <p> 6.有独立的调试和解决问题的能力，逻辑思维清晰严谨，学习能力强；</p>
                <p> 7.良好的语言表达及沟通能力，有总结问题和分享经验的能力，有团队协作精神。</p>
            </div>
        </div>
        <div class="box">
            <h2>Android开发工程师</h2>
            <div style="font-size: 14px;">
                <p class="info">待遇面议&nbsp;&nbsp;&nbsp;广州&nbsp;&nbsp;&nbsp;经验1-3年&nbsp;&nbsp;&nbsp;大专及以上&nbsp;&nbsp;&nbsp;全职</p>
                <div class="">岗位描述：</div>
                <p> 1、理解需求，和产品经理讨论确定需求细节。</p>
                <p> 2、负责Android项目的架构设计、方案的制定；</p>
                <p> 3、负责android app等智能终端领域的应用开发和研究，以及应用平台的相关技术支持；</p>
                <p> 4、跟进Android的新技术发展，规范化编写设计开发及实现文档；</p>
                <p> 5、根据产品功能需求设计并完成软件实现。</p>
                <div class="">任职要求：</div>
                <p> 1、有Android客户端1年以上的开发经验； </p>
                <p>  2、熟练掌握Java语言，并具有使用Java做软件项目开发；</p>
                <p> 3、有较深入的Android平台的应用程序开发经验，熟悉TCP/IP和无线通讯协议，有手机终端软件设计和架构能力；</p>
                <p> 4、有过至少一个面向用户的手机APP的完整研发经历（属于自己的作品）。</p>
            </div>
        </div>
        <div class="box">
            <h2>iOS工程师</h2>
            <div style="font-size: 14px;">
                <p class="info">待遇面议&nbsp;&nbsp;&nbsp;广州&nbsp;&nbsp;&nbsp;经验1-3年&nbsp;&nbsp;&nbsp;大专及以上&nbsp;&nbsp;&nbsp;全职</p>
                <div class="">岗位描述：</div>
                <p> 1、理解需求，和产品经理讨论确定需求细节。</p>
                <p> 2、负责iOS项目的架构设计、方案的制定；</p>
                <p> 3、负责IOS等智能终端领域的应用开发和研究，以及应用平台的相关技术支持；</p>
                <p> 4、跟进iOS的新技术发展，规范化编写设计开发及实现文档；</p>
                <p> 5、根据产品功能需求设计并完成软件实现。</p>
                <div class="">任职要求：</div>
                <p> 1、至少具有1年以上iOS平台的开发经验； </p>
                <p> 2、熟练掌握C/C++，熟悉面向对象的程序设计方法，并具有使用C/C++软件项目开发；</p>
                <p> 3、有较深入的iOS平台的应用程序开发经验，熟悉TCP/IP和无线通讯协议，有手机终端软件设计和架构能力；</p>
                <p> 4、有过至少一个面向用户的手机APP的完整研发经历（属于自己的作品）。</p>
            </div>
        </div>
        <div class="box">
            <h2>工程部项目工程师</h2>
            <div style="font-size: 14px;">
                <p class="info">待遇面议&nbsp;&nbsp;&nbsp;广州&nbsp;&nbsp;&nbsp;经验1-3年&nbsp;&nbsp;&nbsp;大专及以上&nbsp;&nbsp;&nbsp;全职</p>
                <div class="">岗位描述：</div>
                <p> 1、年龄25岁以上，本科及以上学历，身体健康，五官端正，无刑事或经济违法记录；</p>
                <p> 2、工作认真负责，踏实细致，责任心强；</p>
                <p> 3、为人正直，能吃苦耐劳，具有强烈的责任感、事业心及团队精神；</p>
                <p> 4、从事过弱电工程管理，且有3年以上的工程项目现场管理经验。</p>
                <div class="">任职要求：</div>
                <p> 1.熟悉项目管理流程，项目施工管理、项目设备验收，处理各种项目突发事宜有工地进度控制和协调沟通能力； </p>
                <p> 2. 熟悉弱电施工流程及相关的技术标准要求；</p>
                <p> 3.能独立进行弱电工程实施的管理，包括管理分包单位，协调配合单位，配合监理单位的工作，督查、管理现场施工等；</p>
                <p> 4. 熟悉综合布线、安防监控、楼宇自控、专业音视频、通讯系统、机房建设等系统的设计和实施；</p>
                <p> 5.工作积极主动、责任心强；有良好的沟通能力和团队协作意识；能够胜任出差工作；</p>
                <p> 6.有弱电项目经理或机电建造师证书者优先；</p>
            </div>
        </div>
    </div>

</section>

