<section ng-controller="AboutController" class="productPage">
    <!--<div class="tabwrap">-->
        <!--<ul class="tabs">-->
            <!--<li class="cur" ng-click="proSwich(11)">-->
                <!--<div class="icon"><i class="fa fa-fax fa-2x"></i></div>-->
                <!--<p class="text">智能门禁</p>-->
            <!--</li>-->
            <!--<li ng-click="proSwich(22)">-->
                <!--<div class="icon" ><i class="fa fa-users fa-2x"></i></div>-->
                <!--<p class="text">智能物管</p>-->
            <!--</li>-->
            <!--<li ng-click="proSwich(33)">-->
                <!--<div class="icon" ><i class="fa fa-cloud fa-2x"></i></div>-->
                <!--<p class="text">云平台</p>-->
            <!--</li>-->
            <!--<li ng-click="proSwich(44)">-->
                <!--<div class="icon" ><i class="fa fa-camera-retro fa-2x"></i></div>-->
                <!--<p class="text">门口机</p>-->
            <!--</li>-->
            <!--<li ng-click="proSwich(55)">-->
                <!--<div class="icon" ><i class="fa fa-laptop fa-2x"></i></div>-->
                <!--<p class="text">管理口机</p>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="tagsMain">
        <ul>
            <li class="imgwrap item1 ">
                <div class="Box1">
                    <img class="productImg" src="src/imgs/p11.png"/>
                    <div class="imgText">
                        <h2>友邻邦APP</h2>
                        <p class="font">YOU LIN BANG</p>
                        <p class="font">安全  高效  简易</p>
                        <p class="fontA">专注于解决智慧社区互联网门禁服务，让生活更简单</p>
                    </div>
                </div>
                <div class="Box2">
                    <div class="introduce">
                        <div class="introducewrap">
                            <h3><i></i><span>功能特点</span></h3>
                            <p>可视对讲</p>
                            <p>远程开锁</p>
                            <p>电话开锁</p>
                            <p>访客授权</p>
                            <p>视频监视</p>
                            <p>物业服务</p>
                            <p>公告信息</p>
                            <p>社区O2O服务</p>
                            <p>
                                <br>
                            </p>
                            <img src="src/imgs/p102.png" width="100%">
                        </div>
                        <!--<div class="introducewrap">-->
                            <!--<h3><i></i><span>系统功能</span></h3>-->
                            <!--<p>可视对讲 随时随地</p>-->
                            <!--<p>当访客通过门口机拨打住户的房号，住户的手机APP在振铃的同时弹出来电界面，用户按接听键即可与来访者进行视频通话，确认访客身份。呼叫不受距离和地域限制，住户只需保持APP在线。</p>-->
                            <!--<p>授权管理 群呼共振</p>-->
                            <!--<p>业主可授权亲友、租客开门权限，对方只需安装APP，成为平台注册用户即可，人数可增可减。当门口机拨打住户房号，在线的APP会同时振铃，在线任一APP可接听来电，可为来访者开锁。APP可开启免扰功能。</p>-->
                            <!--<p>一键开锁 方便出入</p>-->
                            <!--<p>住户打开APP，点击门口机开锁按钮，即可打开指定的单元门锁。出入无需带门禁卡和钥匙。</p>-->
                            <!--<p>动态密码 预约来访</p>-->
                            <!--<p>住户使用APP的开门密码功能，即可生成有时效性的动态随机密码，通过微信或短信分享给来访者，在时效之内，来访者在门口机输入密码，即可打开单元门。</p>-->
                            <!--<p>访客留影 安全无忧</p>-->
                            <!--<p>门口机摄像头智能抓拍所有访客的影像，并上传云平台，可随时查看访客记录，</p>-->
                            <!--<p>安全更有保障。</p>-->
                            <!--<p>门口视频 随时查看</p>-->
                            <!--<p>住户通过APP，打开“门口监控”，即可查看授权单元门口机视频，随时了解周围环境情况。如家长查看小孩是否出门玩耍。</p>-->
                            <!--<p>社区信息 精准推送</p>-->
                            <!--<p>住户通过APP可接收社区信息、物业公告、通知等信息。可随时了解社区动态。物管人员还可以通过系统对指定的住户进行信息推送，如物业费用催缴等。</p>-->
                            <!--<p>物业服务 掌中互动</p>-->
                            <!--<p>住户可以通过APP的物业服务功能，完成提咨询、报修、投诉等服务。物管工作人员可通过物管APP接收住户的最新服务信息，并可在APP上与住户互动，完成相应服务。</p>-->
                            <!--<p>社区运营 增值服务</p>-->
                            <!--<p>系统基于云开放式平台，可对接各种智能设备，可全面对接政府、企业等第三方业务，建立合作共赢生态环境，共建智慧社区生活。</p>-->
                        <!--</div>-->
                    </div>
                    <div class="introduce">
                        <div class="introducewrap">
                            <img src="src/imgs/p103.png" width="100%">
                        </div>
                    </div>
                    <!--<div class="introduce">-->
                        <!--<div class="introducewrap clearfix">-->
                            <!--<div class="imgP104">-->
                                <!--<img src="src/imgs/p104.png" width="100%">-->
                            <!--</div>-->
                            <!--<div class="download ylb">-->
                                <!--<div class="btn"><i></i>友邻邦APP</div>-->
                                <!--<img src="src/imgs/ylb-code.png" alt="" width="100%">-->
                                <!--<p>扫二维码下载</p>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="download adr">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="btn"><i></i>Android</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<img src="src/imgs/codeA.png" alt="" width="100%">&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>扫二维码下载</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="download ios">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="btn"><i></i>IOS</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<img src="src/imgs/codeI.png" alt="" width="100%">&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>扫二维码下载</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </li>
            <li class="imgwrap item2" style="display: none">
                <div class="Box1">
                    <img class="productImg" src="src/imgs/p22.png"/>
                    <div class="imgText">
                        <h2>物业宝APP</h2>
                        <p class="font">创造更多可能</p>
                    </div>
                </div>
                <div  class="Box2">
                    <div class="introduce">
                        <div class="introducewrap">
                            <h3><i></i><span>系统功能</span></h3>
                            <p>公告信息，主要展示推送消息，小区公告，系统消息等内容以及工单状态变化信息。</p>
                            <p>物业服务，主要处理住户的投诉、维修、咨询工单的流转。</p>
                            <p>移动对讲机，可提供员工间APP实时视频对讲功能。</p>
                            <p>
                                <br>
                            </p>
                            <img src="src/imgs/p102.png" width="100%">
                        </div>
                    </div>
                    <!--<div class="introduce">-->
                        <!--<div class="introducewrap clearfix">-->
                            <!--<div class="imgP104">-->
                                <!--<img src="src/imgs/p104.png" width="100%">-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="download wuye">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="btn"><i></i>物业宝APP</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="src/imgs/wuye-code.png" alt="" width="100%">&ndash;&gt;-->
                                <!--&lt;!&ndash;<p>扫二维码下载</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </li>
            <li class="imgwrap item3" style="display: none">
                <div class="Box1">
                    <img class="productImg" src="src/imgs/p33.png"/>
                    <div class="imgText one">
                        <h2>云平台Cloud platform</h2>
                        <p>一如既往的安全 稳定 流畅</p>
                    </div>
                </div>
                <div  class="Box2">
                    <div class="introduce">
                        <div class="introducewrap">
                            <h3><i></i><span>系统功能</span></h3>
                            <p>赛翼智慧社区云平台是赛翼研发多年的成果，拥有全部知识产权，平台是赛翼智慧城市运营的重要组成部分。</p>
                            <p>平台部署在互联网云端，由云社区平台、云可视对讲门禁平台、物业服务平台、信息发布平台等平台组成，是智慧社区运营业务的综合性管理平台。</p>
                            <p>平台能满足大容量、高并发、可扩展、可冗余、安全可靠的智慧社区运营业务的需求。</p>
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="imgwrap item4" style="display: none">
                <div class="Box1">
                    <img class="productImg" src="src/imgs/p44.png"/>
                    <div class="imgText">
                        <h2>门口终端</h2>
                        <p class="font">智能通行 安全监控</p>
                        <p class="font">媒体服务 信息公布</p>
                    </div>
                </div>
                <div  class="Box2">
                    <div class="introduce">
                        <div class="introducewrap">
                            <h3><i></i><span>产品功能</span></h3>
                            <p>能与移动端APP、管理机之间音视频对讲；接受移动端APP、管理机的远程开锁；接受移动端APP的视频监视和一键开锁；动态密码开锁；集成非接触式刷卡器，支持IC卡开锁；</p>
                            <p>一键呼叫管理机：支持抓拍来访者图像，生成开锁记录，并上传至云平台；支持从云平台推送的门禁黑白名单并更新；接受云平台的在线管理及配置信息更新；
                                接收云平台的信息推送并显示在相应区域；位置、日期、时钟、天气信息在线更新；支持远程自动升级；可根据需求整合人脸识别开锁、二维码开锁等功能。
                            </p>
                            <p>
                                <br>
                            </p>

                            <h3><i></i><span>技术参数</span></h3>
                            <!--<p>-->
                                <!--<span class="left">面板尺寸:</span>-->
                                <!--<span class="right">18.5英寸</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">显示区域尺寸:</span>-->
                                <!--<span class="right">409*230(mm)</span>-->
                            <!--</p>-->
                            <p>
                                <span class="left">显示模式:</span>
                                <span class="right">16：9 ，9：16</span>
                            </p>
                            <p>
                                <span class="left">分辨率:</span>
                                <span class="right">1366*768</span>
                            </p>
                            <!--<p>-->
                                <!--<span class="left">显示色彩:</span>-->
                                <!--<span class="right">16.7M(8bit)/1073.7M (10bit)</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">点 间 距:</span>-->
                                <!--<span class="right">0.03MM</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">亮度:</span>-->
                                <!--<span class="right">250 cd/㎡</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">对比度:</span>-->
                                <!--<span class="right">1000:01:00</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">可视角度:</span>-->
                                <!--<span class="right">85/85/80/80(左右上下）</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">响应时间:</span>-->
                                <!--<span class="right"><8ms</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">接口:</span>-->
                                <!--<span class="right"> USB2.0*2，8路开关量输入，6路开关量输入</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">网卡类型:</span>-->
                                <!--<span class="right">RJ45 100/1000M网络自适应，内置WIFI 802.11b/g/n</span>-->
                            <!--</p>-->
                            <p>
                                <span class="left">摄像头:</span>
                                <span class="right">200万像素（智能补光）</span>
                            </p>
                            <p>
                                <span class="left">触摸键盘:</span>
                                <span class="right">16键感应式</span>
                            </p>
                            <!--<p>-->
                                <!--<span class="left">文件格式:</span>-->
                                <!--<span class="right">720P,1080P,H263/264/MPEG4,AVI,WMV,3GP,MP4,MOV,JPG,JPEG,BMP,GIF,PNG</span>-->
                            <!--</p>-->
                            <p>
                                <span class="left">喇叭:</span>
                                <span class="right">高保真立体声音频 2*5w</span>
                            </p>
                            <p>
                                <span class="left">电源:</span>
                                <span class="right">12VDC</span>
                            </p>
                            <p>
                                <span class="left">机身颜色：</span>
                                <span class="right">极致黑（可定制）</span>
                            </p>
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="imgwrap item3" style="display: none">
                <div class="Box1">
                    <img class="productImg" src="src/imgs/p55.png"/>
                    <div class="imgText">
                        <h2>物业终端Property terminal</h2>
                        <p>安全监控  数据统计  便捷服务</p>
                    </div>
                </div>
                <div  class="Box2">
                    <div class="introduce">
                        <div class="introducewrap">
                            <h3><i></i><span>产品功能</span></h3>
                            <p>可接受门口机终端的一键呼叫，与门口机音视频对讲；可为门口机的来访者开锁 ；还可查询来电记录和来访记录 。
                                可接受云平台的在线管理及配置信息更新，接受位置,日期,时钟，天气信息等在线信息推送，并支持远程自动升级。
                            </p>
                            <p>
                                <br>
                            </p>

                            <h3><i></i><span>技术参数</span></h3>
                            <p>
                                <span class="left">CPU	：</span>
                                <span class="right">四核处理器、主频1.6G</span>
                            </p>
                            <p>
                                <span class="left">系统内存：</span>
                                <span class="right">1GB</span>
                            </p>
                            <p>
                                <span class="left">闪存：</span>
                                <span class="right">8GB</span>
                            </p>
                            <!--<p>-->
                                <!--<span class="left">操作系统：</span>-->
                                <!--<span class="right">Android 4.4.2</span>-->
                            <!--</p>-->
                            <p>
                                <span class="left">显示屏：</span>
                                <span class="right">13.3寸高清IPS屏</span>
                            </p>
                            <p>
                                <span class="left">分辨率：</span>
                                <span class="right">1920*1080 FULL HD</span>
                            </p>
                            <!--<p>-->
                                <!--<span class="left">对比度：</span>-->
                                <!--<span class="right">1000:01:00</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">亮度：</span>-->
                                <!--<span class="right">350cd／m2</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">显示比例：</span>-->
                                <!--<span class="right">16：9/显示区域：295x165mm</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">网络：</span>-->
                                <!--<span class="right">支持WIFI上网802.11b/g/n 、RJ45 </span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">蓝牙：</span>-->
                                <!--<span class="right">BlueTooth4.0</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">3G：</span>-->
                                <!--<span class="right">支持外置3G USB dongle</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">接口：</span>-->
                                <!--<span class="right">悬挂缩进</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span class="left">播放格式：</span>-->
                                <!--<span class="right">悬挂缩进</span>-->
                            <!--</p>-->
                            <p>
                                <span class="left">喇叭：</span>
                                <span class="right">2*3W</span>
                            </p>
                            <p>
                                <span class="left">摄像头：</span>
                                <span class="right">200万像素</span>
                            </p>
                            <p>
                                <span class="left">电源适配器：</span>
                                <span class="right">12VDC</span>
                            </p>
                            <p>
                                <span class="left">机身颜色：</span>
                                <span class="right">极致黑</span>
                            </p>

                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--
        <div ng-switch="proSwichItem">
            <div ng-switch-when="11">
                <div class="introduce">
                    <div class="introducewrap">
                        <h3><i></i><span>系统简介</span></h3>
                        <p>赛翼互联网可视门禁对讲系统是基于移动互联网、物联网、云计算、大数据等技术进行设计的全新一代移动互联网可视门禁对讲系统。</p>
                        <p>智慧社区云平台部署在云端，通过智能终端APP、PC、电话等终端，为用户提供社区可视对讲门禁、物业服务、信息发布、社区O2O等社区综合服务。形成“产品+平台+运营”的整体解决方案，是传统数字对讲系统结合移动互联网技术应用的一种创新。
                        </p>
                        <p>
                            <br>
                        </p>
                        <img src="src/imgs/p101.png" width="100%">
                    </div>
                </div>
                <div class="introduce">
                    <div class="introducewrap">
                        <h3><i></i><span>系统功能</span></h3>
                        <p>可视对讲 随时随地</p>
                        <p>当访客通过门口机拨打住户的房号，住户的手机APP在振铃的同时弹出来电界面，用户按接听键即可与来访者进行视频通话，确认访客身份。呼叫不受距离和地域限制，住户只需保持APP在线。</p>
                        <p>授权管理 群呼共振</p>
                        <p>业主可授权亲友、租客开门权限，对方只需安装APP，成为平台注册用户即可，人数可增可减。当门口机拨打住户房号，在线的APP会同时振铃，在线任一APP可接听来电，可为来访者开锁。APP可开启免扰功能。</p>
                        <p>一键开锁 方便出入</p>
                        <p>住户打开APP，点击门口机开锁按钮，即可打开指定的单元门锁。出入无需带门禁卡和钥匙。</p>
                        <p>动态密码 预约来访</p>
                        <p>住户使用APP的开门密码功能，即可生成有时效性的动态随机密码，通过微信或短信分享给来访者，在时效之内，来访者在门口机输入密码，即可打开单元门。</p>
                        <p>访客留影 安全无忧</p>
                        <p>门口机摄像头智能抓拍所有访客的影像，并上传云平台，可随时查看访客记录，</p>
                        <p>安全更有保障。</p>
                        <p>门口视频 随时查看</p>
                        <p>住户通过APP，打开“门口监控”，即可查看授权单元门口机视频，随时了解周围环境情况。如家长查看小孩是否出门玩耍。</p>
                        <p>社区信息 精准推送</p>
                        <p>住户通过APP可接收社区信息、物业公告、通知等信息。可随时了解社区动态。物管人员还可以通过系统对指定的住户进行信息推送，如物业费用催缴等。</p>
                        <p>物业服务 掌中互动</p>
                        <p>住户可以通过APP的物业服务功能，完成提咨询、报修、投诉等服务。物管工作人员可通过物管APP接收住户的最新服务信息，并可在APP上与住户互动，完成相应服务。</p>
                        <p>社区运营 增值服务</p>
                        <p>系统基于云开放式平台，可对接各种智能设备，可全面对接政府、企业等第三方业务，建立合作共赢生态环境，共建智慧社区生活。</p>
                    </div>
                </div>
                <div class="introduce">
                    <div class="introducewrap">
                        <img src="src/imgs/p103.png" width="100%">
                    </div>
                </div>
                <div class="introduce">
                    <div class="introducewrap clearfix">
                        <div class="imgP104">
                            <img src="src/imgs/p104.png" width="100%">
                        </div>
                        <div class="download ylb">
                            <div class="btn"><i></i>友邻邦APP</div>
                            <img src="src/imgs/ylb-code.png" alt="" width="100%">
                            <p>扫二维码下载</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when="22">
                <div class="introduce">
                    <div class="introducewrap">
                        <h3><i></i><span>系统功能</span></h3>
                        <p>公告信息，主要展示推送消息，小区公告，系统消息等内容以及工单状态变化信息。</p>
                        <p>物业服务，主要处理住户的投诉、维修、咨询工单的流转。</p>
                        <p>移动对讲机，可提供员工间APP实时视频对讲功能。</p>
                        <p>
                            <br>
                        </p>
                        <img src="src/imgs/p102.png" width="100%">
                    </div>
                </div>
                <div class="introduce">
                    <div class="introducewrap clearfix">
                        <div class="imgP104">
                            <img src="src/imgs/p104.png" width="100%">
                        </div>
                        <div class="download wuye">
                            <div class="btn"><i></i>物业宝APP</div>
                            <img src="src/imgs/wuye-code.png" alt="" width="100%">
                            <p>扫二维码下载</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when="33">
                <div class="introduce">
                    <div class="introducewrap">
                        <h3><i></i><span>系统功能</span></h3>
                        <p>赛翼智慧社区云平台是赛翼研发多年的成果，拥有全部知识产权，平台是赛翼智慧城市运营的重要组成部分。</p>
                        <p>平台部署在互联网云端，由云社区平台、云可视对讲门禁平台、物业服务平台、信息发布平台等平台组成，是智慧社区运营业务的综合性管理平台。</p>
                        <p>平台能满足大容量、高并发、可扩展、可冗余、安全可靠的智慧社区运营业务的需求。</p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div ng-switch-when="44">
                <div class="introduce">
                    <div class="introducewrap">
                        <h3><i></i><span>产品功能</span></h3>
                        <p>能与移动端APP、管理机之间音视频对讲；接受移动端APP、管理机的远程开锁；接受移动端APP的视频监视和一键开锁；动态密码开锁；集成非接触式刷卡器，支持IC卡开锁；</p>
                        <p>一键呼叫管理机：支持抓拍来访者图像，生成开锁记录，并上传至云平台；支持从云平台推送的门禁黑白名单并更新；接受云平台的在线管理及配置信息更新；
                        接收云平台的信息推送并显示在相应区域；位置、日期、时钟、天气信息在线更新；支持远程自动升级；可根据需求整合人脸识别开锁、二维码开锁等功能。
                        </p>
                        <p>
                            <br>
                        </p>

                        <h3><i></i><span>技术参数</span></h3>
                        <p>
                            <span class="left">面板尺寸:</span>
                            <span class="right">18.5英寸</span>
                        </p>
                        <p>
                            <span class="left">显示区域尺寸:</span>
                            <span class="right">409*230(mm)</span>
                        </p>
                        <p>
                            <span class="left">显示模式:</span>
                            <span class="right">16：9 ，9：16</span>
                        </p>
                        <p>
                            <span class="left">分辨率:</span>
                            <span class="right">1366*768</span>
                        </p>
                        <p>
                            <span class="left">显示色彩:</span>
                            <span class="right">16.7M(8bit)/1073.7M (10bit)</span>
                        </p>
                        <p>
                            <span class="left">点 间 距:</span>
                            <span class="right">0.03MM</span>
                        </p>
                        <p>
                            <span class="left">亮度:</span>
                            <span class="right">250 cd/㎡</span>
                        </p>
                        <p>
                            <span class="left">对比度:</span>
                            <span class="right">1000:01:00</span>
                        </p>
                        <p>
                            <span class="left">可视角度:</span>
                            <span class="right">85/85/80/80(左右上下）</span>
                        </p>
                        <p>
                            <span class="left">响应时间:</span>
                            <span class="right"><8ms</span>
                        </p>
                        <p>
                            <span class="left">接口:</span>
                            <span class="right"> USB2.0*2，8路开关量输入，6路开关量输入</span>
                        </p>
                        <p>
                            <span class="left">网卡类型:</span>
                            <span class="right">RJ45 100/1000M网络自适应，内置WIFI 802.11b/g/n</span>
                        </p>
                        <p>
                            <span class="left">摄像头:</span>
                            <span class="right">200万像素（智能补光）</span>
                        </p>
                        <p>
                            <span class="left">触摸键盘:</span>
                            <span class="right">16键感应式</span>
                        </p>
                        <p>
                            <span class="left">文件格式:</span>
                            <span class="right">720P,1080P,H263/264/MPEG4,AVI,WMV,3GP,MP4,MOV,JPG,JPEG,BMP,GIF,PNG</span>
                        </p>
                        <p>
                            <span class="left">喇叭:</span>
                            <span class="right">高保真立体声音频 2*5w</span>
                        </p>
                        <p>
                            <span class="left">电源:</span>
                            <span class="right">12VDC</span>
                        </p>
                        <p>
                            <span class="left">机身颜色：</span>
                            <span class="right">极致黑（可定制）</span>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div ng-switch-when="55">
                <div class="introduce">
                    <div class="introducewrap">
                        <h3><i></i><span>产品功能</span></h3>
                        <p>可接受门口机终端的一键呼叫，与门口机音视频对讲；可为门口机的来访者开锁 ；还可查询来电记录和来访记录 。
                            可接受云平台的在线管理及配置信息更新，接受位置,日期,时钟，天气信息等在线信息推送，并支持远程自动升级。
                        </p>
                        <p>
                            <br>
                        </p>

                        <h3><i></i><span>技术参数</span></h3>
                        <p>
                            <span class="left">CPU	：</span>
                            <span class="right">四核处理器、主频1.6G</span>
                        </p>
                        <p>
                            <span class="left">系统内存：</span>
                            <span class="right">1GB</span>
                        </p>
                        <p>
                            <span class="left">闪存：</span>
                            <span class="right">8GB</span>
                        </p>
                        <p>
                            <span class="left">操作系统：</span>
                            <span class="right">Android 4.4.2</span>
                        </p>
                        <p>
                            <span class="left">显示屏：</span>
                            <span class="right">13.3寸高清IPS屏</span>
                        </p>
                        <p>
                            <span class="left">分辨率：</span>
                            <span class="right">1920*1080 FULL HD</span>
                        </p>
                        <p>
                            <span class="left">对比度：</span>
                            <span class="right">1000:01:00</span>
                        </p>
                        <p>
                            <span class="left">亮度：</span>
                            <span class="right">350cd／m2</span>
                        </p>
                        <p>
                            <span class="left">显示比例：</span>
                            <span class="right">16：9/显示区域：295x165mm</span>
                        </p>
                        <p>
                            <span class="left">网络：</span>
                            <span class="right">支持WIFI上网802.11b/g/n 、RJ45 </span>
                        </p>
                        <p>
                            <span class="left">蓝牙：</span>
                            <span class="right">BlueTooth4.0</span>
                        </p>
                        <p>
                            <span class="left">3G：</span>
                            <span class="right">支持外置3G USB dongle</span>
                        </p>
                        <p>
                            <span class="left">接口：</span>
                            <span class="right">悬挂缩进</span>
                        </p>
                        <p>
                            <span class="left">播放格式：</span>
                            <span class="right">悬挂缩进</span>
                        </p>
                        <p>
                            <span class="left">喇叭：</span>
                            <span class="right">2*3W</span>
                        </p>
                        <p>
                            <span class="left">摄像头：</span>
                            <span class="right">200万像素</span>
                        </p>
                        <p>
                            <span class="left">电源适配器：</span>
                            <span class="right">12VDC</span>
                        </p>
                        <p>
                            <span class="left">机身颜色：</span>
                            <span class="right">极致黑</span>
                        </p>

                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>

</section>
<!--<script src="../scripts/main.js"></script>-->
