<section ng-controller="resolveController" class="resolvePage">
    <div class="tagsMain">
        <ul>
            <li class="imgwrap item1 ">
                <div class="Box1">
                    <img class="Img" src="src/imgs/resolveB.png"/>
                </div>
                <div class="Box2">
                    <div class="introduce">

                        <div class="introducewrap">
                            <p>
                                传统门禁系统从小区网管敷设、到每户室内机安装、设备调试，施工周期漫长。SAYEE互联网可视门禁对讲系统只需安装单元门口机和物业中心的管理机，
                                用户下载安装手机 &nbsp;APP,即装即用，极大的缩短了施工周期，降低运营成本。
                            </p>
                            <p>
                                <br>
                            </p>
                            <h3><i></i><span>方案特点</span></h3>
                            <p>
                                采用有线以太网架构，确保网络的稳定，后期维护成本低。
                            </p>
                            <p>
                                只需布网线和电源线至单元门口机安装位置；
                            </p>
                            <p>
                                住户只需安装手机APP，即可使用可视对讲门禁功能。
                            </p>
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="imgwrap item2" style="display: none">
                <div class="Box1">
                    <img class="Img" src="src/imgs/resolveC.png"/>
                </div>
                <div class="Box2">
                    <div class="introduce">
                        <div class="introducewrap">
                            <p>
                                老式小区的管线改造难度大、设备成本高、费用居高不下、住户各方意见难统一、协调周期长等特色，互联网门口机是老旧小区门禁对讲改造的最佳方案。
                            </p>
                            <p>
                                <br>
                            </p>
                            <h3><i></i><span>方案特点</span></h3>
                            <p>
                               系统采用无线网络架构，门口机使用&nbsp;WIFI&nbsp;或&nbsp;4G&nbsp;网络练级云平台；
                            </p>
                            <p>
                                住户安装手机&nbsp;APP,即可使用可视对讲门禁功能；
                            </p>
                            <p>
                                投资少、改造周期短、效果好。
                            </p>
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="imgwrap item3" style="display: none">
                <div class="Box1">
                    <img class="Img" src="src/imgs/resolveB.png"/>
                </div>
                <div class="Box2">
                    <div class="introduce">
                        <div class="introducewrap">
                            <p>
                                基于物联网和移动互联网技术设计的互联网可视门禁对讲系统，通过智慧社区平台实现社区房屋楼栋门口机（门禁控制器）的联网控制，能与住户手机等智能终端实现音视频对讲、
                                消防报警、抓拍记录、访客管理、人员管理等功能，将社区打造成融合社区出租屋管理、流动人口管理等公共事业服务、商业服务的新型“互联网+社区管理”的智慧社区服务平台。
                            </p>
                            <p>
                                <br>
                            </p>
                            <h3><i></i><span>功能特点</span></h3>
                            <p>
                                安防报警：烟感、温感探头接入，声光报警接入，声光报警输出，实时状态监控。
                            </p>
                            <p>
                                门禁对讲：门禁控制，访客管理，视频图像抓拍，实时装备状态检测，门禁消防联动。
                            </p>
                            <p>
                                综合管理：出租屋管理，流动人口管理，门禁管理，权限管理系统管理，大数据管理。
                            </p>
                            <p>
                                监控功能：视频查看，互联互动，电子地图，数据安全。
                            </p>
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="imgwrap item4" style="display: none">
                <div class="Box1" style="    max-height: 550px;max-width: 1200px;margin-top: 200px;">
                    <img class="Img" src="src/imgs/resolveD.jpg"/>
                </div>
                <div  class="Box2">
                    <div class="introduce">
                        <div class="introducewrap">

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

